
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center row justify-content-center">
        <h2>Students</h2><hr>
        <a href="/Admin/AddStudent" class="btn btn-success">Add student</a>
        <a href="/Admin/ShowAllStudent" class="btn btn-success">Show all student</a>
    </div>
</div>

