        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="#!CourierHome" class="navbar-brand">Online Baking <span>Shop</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="#!CourierHome" class="nav-item nav-link active">Home</a>
                        <a href="#!CourierProfile" class="nav-item nav-link">Profile</a>
                        <a href="#!CourierDelivery" class="nav-item nav-link">Delivery</a>
                        <a href="index.html" class="nav-item nav-link text-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        <div class="container w-50">
            <h2 class="text-center text-danger">Profile Details</h2>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="id" ng-model="id" value="{{ id }}" hidden>
                  </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="name" value="{{ name }}">
                    <p ng-model="nameError" class="text-danger">{{ nameError }}</p>
                  </div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" ng-model="username" value="{{ username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" ng-model="email" value="{{ email }}">
                    <p ng-model="emailError" class="text-danger">{{ emailError }}</p>
                  </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" ng-model="password" value="{{ password }}">
                  <p ng-model="passwordError" class="text-danger">{{ passwordError }}</p>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" class="form-control" id="phoneNumber" ng-model="phoneNumber" value="{{ phoneNumber }}">
                    <p ng-model="phoneNumberError" class="text-danger">{{ phoneNumberError }}</p>
                  </div>
                  <div class="form-group">
                    <label for="nid">NID:</label>
                    <input type="number" class="form-control" id="nid" ng-model="nid" value="{{ nid }}" disabled>
                  </div>
                <button type="submit" class="btn btn-success" ng-click="update()">Update</button>
              </form>

              <h3 class="text-center text-success" ng-model="msg">{{ msg }}</h3>
        </div>