 <!-- Nav Bar Start -->
 <div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Online Baking <span>Shop</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link active">Login</a>
                <a href="#!CustomerRegistration" class="nav-item nav-link">Customer Registration</a>
                <a href="#!CourierRegistration" class="nav-item nav-link">Courier Registration</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<div class="container mt-3 w-50">

    <h1 class="text-center text-warning">Customer Registration</h1>

    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Name" id="name" ng-model="name">
            <p ng-model="nameError" class="text-danger">{{ nameError }}</p>
          </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" placeholder="Enter username" id="username" ng-model="username">
          <p ng-model="usernameError" class="text-danger">{{ usernameError }}</p>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email" ng-model="email">
            <p ng-model="emailError" class="text-danger">{{ emailError }}</p>
          </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" ng-model="password">
          <p ng-model="passwordError" class="text-danger">{{ passwordError }}</p>
        </div>
        <button type="submit" class="btn btn-warning" ng-click="register()">Register</button>
      </form>

      <h3 class="text-center text-danger" ng-model="errorMsg">{{ errorMsg }}</h3>
      <h3 class="text-center text-success" ng-model="successMsg">{{ successMsg }}</h3>
</div>

