@model OnlineBakingShop.Models.Login

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Online Baking Shop</h1>

    <a class="btn btn-danger" href="/Home/Login" role="button">Login</a>

    <a class="btn btn-danger" href="/Customer/Registration" role="button">Customer Registration</a>

    <a class="btn btn-danger" href="/Courier/Registration" role="button">Courier Registration</a>

</div>

